@import '../../../../styles/variables';

.Header {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  line-height: 100%;
  position: relative;
}

.leftPart {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.organization {
  color: $gray;
}

.logo {
  font-weight: 700;
  font-size: 2rem;
}

.rightPart {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.accountText {
  display: flex;
  flex-direction: column;
  font-size: .9rem;
}

.nameOfAccount {
  font-weight: 700;
}

.mailOfAccount {
  color: $gray;
}

.avatarImage {
  width: 2.25rem;
  height: auto;
  border-radius: 50%;
}

.avatarImageWithBorder {
  border: $black solid 2px;
}