@import '/styles/variables';

.Percents {
  display: flex;
  gap: 7.5rem;
  flex-direction: column;
}

.blocks {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.block {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 85%;
}

.cube {
  border: $black solid .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  aspect-ratio: 1/1;
}

.blockText {
  width: 6rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textBlock {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.text {
  text-align: right;
  max-width: 40rem;
  font-size: 2rem;
  line-height: 90%;
}