@import '/styles/variables';

.Trader {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.pleasant {
  text-indent: 2rem;
  font-size: 6rem;
  line-height: 92%;
  font-weight: 700;
  text-transform: uppercase;
  user-select: none;
}

.accent {
  background: $yellow;
}

.image {
  position: absolute;
}

.start {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
  align-items: center;
}

.text {
  font-size: 2rem;
  font-weight: 700;
  line-height: 85%;
  text-transform: uppercase;
  text-align: right;
}
.button {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 6rem;
  background: $black;
  color: $white;
  font-size: 1.75rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: $cubic 0.4s 0.1s;

  box-shadow: 0 0 $red;
  &:hover {
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem $red;
    transform: translateY(-0.5rem);
  }
  &:active {
    transition: 0.1s;
    transform: translateY(0);
    box-shadow: 0 0 $red;
  }
}
