@import '/styles/variables';

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background: $white;
}

.enterWrapper {
  display: flex;
  flex-direction: column;
  padding: 0 .5rem;
}