@import '/styles/variables';

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.enterWrapper {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
}