@import '/styles/variables';

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  &::-webkit-scrollbar {
    width: .75rem;
    background: $white;
    @media (max-width: 600px) {
      width: 0;
    }
  }
  &::-webkit-scrollbar-thumb {
    background: $black;
    border: $white solid .2rem;
    border-radius: .36rem;
  }
}

.enterWrapper {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
}