@import '../../../../styles/variables';

.Trader {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.pleasant {
  text-indent: 2rem;
  font-size: 6rem;
  line-height: 99%;
  font-weight: 700;
  text-transform: uppercase;
  user-select: none;
  text-align: justify;
  position: relative;
}

.accent {
  background: $yellow;
}

.image {
  position: absolute;
  max-width: 80vw;
}

.start {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
  align-items: center;
  flex-wrap: wrap;
}

.text {
  font-size: 2rem;
  font-weight: 700;
  line-height: 85%;
  text-transform: uppercase;
  text-align: right;
}
.button {
  height: 100%;
  min-height: 2.5rem;
  max-height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(100%, 18rem);
  background: $black;
  color: $white;
  font-size: 1.75rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: $cubic 0.4s 0.1s;

  //box-shadow: 0 0 $blue;
  &:hover {
    border-radius: 0.5rem;
    transform: translateY(-0.5rem) translateX(-0.5rem);
    //box-shadow: 0 0.5rem $blue;
  }
  &:active {
    transition: 0.1s;
    transform: translateY(0) translateX(0);
    //box-shadow: 0 0 $blue;
  }
}

@media (max-width: 1030px) {
  .pleasant {
    font-size: 9vw;
  }
}
