@import '/styles/variables';

.organizationBlock {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem 2rem;
  background: $white;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.5rem rgba($black, 0.1);
  font-size: 1rem;
  width: min(21rem, 100%);
  border: $black solid 0.3rem;
  height: fit-content;
  & * {
    font-family: JetBrains Mono, monospace;
  }
}

.organizationTitle {
  width: 100%;
  position: relative;
  overflow: hidden;
  white-space: pre;
  font-size: 1.2rem;
  &:after {
    content: '';
    position: absolute;
    z-index: 1;
    background: linear-gradient(90deg, rgba($white, 0), $white);
    right: 0;
    top: 0;
    height: 100%;
    width: 4rem;
  }
}

.label {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 700;
  font-size: 1.1rem;
}

.password {
  display: flex;
  flex-direction: column;
}

.passwordLine {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  transition: $cubic 0.3s;
}

.buttons {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;
}

.iconButtons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.button {
  background: $black;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  * {
    color: $white;
  }
}
