@import '/styles/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Neue Machina, sans-serif;
  letter-spacing: -.06em;
  text-decoration: none;
}

::selection {
  background: $yellow;
}

#__next::-webkit-scrollbar {
  width: .5rem;
  background: $almost-white;
  @media (max-width: 600px) {
    width: 0;
  }
}
#__next::-webkit-scrollbar-thumb {
  background: $black;
}


html {
  font-size: 16px;
}

html,
body,
#__next {
  width: 100%;
  height: 100%;
}
#__next {
  overflow-y: auto;
  position: relative;
}

body {
  background: $white;
  color: $black;
}

%reset {
  background: none;
  outline: none;
  border: none;
}

a,
button {
  @extend %reset;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  transition: $cubic .25s;
  &:hover {
    transform: scaleY(.9);
  }
  &:active {
    transform: scaleY(.8);
  }
}

input {
  @extend %reset;
}

//@media (max-width: 650px) {
//  html {
//    font-size: 2.76vw;
//  }
//}