$black: #000;
$pre-black: #444;
$gray: #888;
$pre-white: #eee;
$white: #fff;
$almost-white: #f6f6f6;
$yellow: #ffee00;
$red: #ff0033;
$blue: #0011ff;
$cyan: #00ffcc;


//$pre-black: #bbb;
//$black: #fff;
//$almost-white: #141414;
//$pre-white: #222;
//$white: #000;

$cubic: cubic-bezier(0.3, 0.3, 0.1, 1);
